<%-layout('layout')%>
<%-partial('sidebar')%>
    <div id="content">
        <div class="panel">
            <div class='header'>
                <div class="header">

                    <a href="/?tab=all" class="topic-tab current-tab">全部</a>

                    <a href="/?tab=good" class="topic-tab ">精华</a>

                    <a href="/?tab=share" class="topic-tab ">分享</a>

                    <a href="/?tab=ask" class="topic-tab ">问答</a>

                    <a href="/?tab=job" class="topic-tab ">招聘</a>

                    <a href="/?tab=dev" class="topic-tab ">客户端测试</a>

                </div>
            </div>
            <div class="inner" id="no-padding">
                <div id="topic_list">
                    <div class="cell">

                        <a class="user_avatar pull-left" href="/user/i5ting">
                            <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120" title="i5ting">
                        </a>

                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                                171
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title="点击数">
                                81363
                            </span>
                        </span>


                        <a class="last_time pull-right" href="/topic/58eee565a92d341e48cfe7fc#5a2d26989807389a1809f29b">
                            <img class="user_small_avatar" src="https://avatars3.githubusercontent.com/u/17674404?v=4&amp;s=120">
                            <span class="last_active_time">1 天前</span>
                        </a>



                        <div class="topic_title_wrapper">


                            <span class="put_top">置顶</span>



                            <a class="topic_title" href="/topic/58eee565a92d341e48cfe7fc" title="2017，我们来聊聊 Node.js">
                                2017，我们来聊聊 Node.js
                            </a>
                        </div>
                    </div>
                       <div class="cell">

                        <a class="user_avatar pull-left" href="/user/i5ting">
                            <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120" title="i5ting">
                        </a>

                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                                171
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title="点击数">
                                81363
                            </span>
                        </span>


                        <a class="last_time pull-right" href="/topic/58eee565a92d341e48cfe7fc#5a2d26989807389a1809f29b">
                            <img class="user_small_avatar" src="https://avatars3.githubusercontent.com/u/17674404?v=4&amp;s=120">
                            <span class="last_active_time">1 天前</span>
                        </a>



                        <div class="topic_title_wrapper">


                            <span class="put_top">置顶</span>



                            <a class="topic_title" href="/topic/58eee565a92d341e48cfe7fc" title="2017，我们来聊聊 Node.js">
                                2017，我们来聊聊 Node.js
                            </a>
                        </div>
                    </div>
                    <div class="cell">
                            
                                                    <a class="user_avatar pull-left" href="/user/i5ting">
                                                        <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120" title="i5ting">
                                                    </a>
                            
                                                    <span class="reply_count pull-left">
                                                        <span class="count_of_replies" title="回复数">
                                                            171
                                                        </span>
                                                        <span class="count_seperator">/</span>
                                                        <span class="count_of_visits" title="点击数">
                                                            81363
                                                        </span>
                                                    </span>
                            
                            
                                                    <a class="last_time pull-right" href="/topic/58eee565a92d341e48cfe7fc#5a2d26989807389a1809f29b">
                                                        <img class="user_small_avatar" src="https://avatars3.githubusercontent.com/u/17674404?v=4&amp;s=120">
                                                        <span class="last_active_time">1 天前</span>
                                                    </a>
                            
                            
                            
                                                    <div class="topic_title_wrapper">
                            
                            
                                                        <span class="put_top">置顶</span>
                            
                            
                            
                                                        <a class="topic_title" href="/topic/58eee565a92d341e48cfe7fc" title="2017，我们来聊聊 Node.js">
                                                            2017，我们来聊聊 Node.js
                                                        </a>
                                                    </div>
                                                </div>
                </div>
                <!-- 分页按钮 -->

                <div class="pagination" current_page="1">
                    <ul>
                        <li class="disabled">
                            <a>«</a>
                        </li>
                        <li class="disabled active">
                            <a>1</a>
                        </li>
                        <li>
                            <a href="/?tab=all&amp;page=2">2</a>
                       </li>
                        <li>
                            <a href="/?tab=all&amp;page=3">3</a>
                        </li>
                        <li>
                            <a href="/?tab=all&amp;page=4">4</a>
                        </li>
                        <li>
                            <a href="/?tab=all&amp;page=5">5</a>
                        </li>
                        <li>
                            <a>...</a>
                        </li>
                        <li>
                            <a href="/?tab=all&amp;page=102">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>